---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import MainLandingContent from "../components/MainLandingContent.astro";

const { quiz } = Astro.props;
---

<div>
  <Header />
  <Hero quiz={quiz} />
  <MainLandingContent quiz={quiz} />
</div>
